.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(22px);

    .FormGroup{
        position: relative;
        margin-top: 20px;

        .wave-group .input:focus ~ label .label-char,
        .wave-group .input:valid ~ label .label-char {
            transform: translateY(-20px);
            font-size: 14px;
            color: #5264AE;
        }

        .FormField{
            font-size: 16px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 200px;
            border: none;
            border-bottom: 1px solid #515151;
            background: transparent;
          
            &:focus {
                outline: none;
            }
        }

        .FormSpanBar{
            position: relative;
            display: block;
            width: 200px;

            &:before {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: #5264AE;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
                left: 50%;
            }

            &:after {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: #5264AE;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
                right: 50%;
            }
        }

        .FormLabel{
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            display: flex;

            .FormSpanChar{
                transition: 0.2s ease all;
                transition-delay: calc(var(--index) * .05s);
            }
        }
    }
}