.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(22px);

    .formControl{
        position: relative;
        margin: 20px 0 40px;
        width: 190px;

        input {
            background-color: transparent;
            border: 0;
            border-bottom: 2px #fff solid;
            display: block;
            width: 100%;
            padding: 15px 0;
            font-size: 18px;
            color: #fff;
        }

        input:focus, input:valid {
            outline: 0;
            border-bottom-color: red;
        }

        label {
            position: absolute;
            top: 15px;
            left: 0;
            pointer-events: none;
        }

        label span {
            display: inline-block;
            font-size: 18px;
            min-width: 5px;
            color: #fff;
            transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        input:focus+label span,
        input:valid+label span {
            color: lightblue;
            transform: translateY(-30px);
        }
    }

    .comboBoxClient{
        color: #fff;
        border: none;
        padding-bottom: 6px;
        border-bottom: 2px solid #fff;
        background-color: transparent;

        option{
            background-color: blueviolet;
            color: black;

            &:focus{
                color: #fff !important;
                background-color: #fff !important;
            }
        }

        &:active{
            border: none;
        }
    }

    .ButtonRequest{
        width: 45%;
        height: 24%;
        border-radius: 5px;
        border: none;
        transition: all 0.5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 11px 16px 27px 3px rgba(0, 0, 0, 0.20);
        background: #234eceee;
        color: #b3b3b3;

        &:hover {
            box-shadow: 0 0 20px 0px #2e2e2e3a;
        }

        &:focus {
            outline: none;
        }

        &:hover .Vtext {
            transition: all 0.5s;
            opacity: 0;
        }

        &:active, &:active .iconA
        &:hover, &:hover .iconA,{
            transition: transform 0.3s ease;
        }

        &:active {
            transform: scale(1.1) ;
        }

        &:hover .iconA, &:active .iconA {
            transform: scale(1.2) translateX(-100%);
        }
    }
}