@import 'mixins';

// ModeLight
$border: rgba(66, 66, 66, 0.733);
$bgLabel: rgba(120, 120, 120, 1);
$bgInput: rgba(255, 255, 255, 1);
$color-light: rgb(98, 0, 255);
$color-light-a: rgb(133, 123, 150);

@include mobile(){

}